<h1>Page 1</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus similique quisquam, reiciendis eius corporis quibusdam unde dolorem maxime, non optio! Voluptates placeat distinctio nemo vel consequuntur blanditiis fugiat dignissimos!</p>

<%= link_to 'Go to page 2 >', page2_path %>

<%= form_with url: page3_path do |form| %>
  <%= form.submit 'Submit form', class: 'p-2 mt-5 bg-gray-300' %>
<% end %>

<%= turbo_frame_tag 'page4-image-link', class: 'block bg-green-100 mt-10 p-5' do %>
  <%= link_to 'Load image', page4_path, data: { turbo_frame: 'page4-image-response' } %>
<% end %>

<%= turbo_frame_tag 'page4-text', class: 'block bg-blue-100 mt-10 p-5' do %>
  <%= link_to 'Load text', page4_path, target: '_top' %>
<% end %>

<%= turbo_frame_tag 'page4-image-response', src: '/page4', loading: 'lazy', class: 'block bg-yellow-100 p-5', style: 'margin-top: 1000px' %>
